body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /*font-family: 'Inter', sans-serif;*/
    font-family: 'Patrick Hand', cursive;
  }
  header{
      height: 150px;
      text-align: center;
      font-size: 3em;
  }
  .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  .box {
    width: 100%;
    max-width: 800px;
    height: 600px;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }

  .search-container{
    background: #2f3640;
    height: 3rem;
    
    
    border-radius: 40px;
    padding: 10px;
  }

  .search-container:hover > #name{
    width: 300px;
    padding: 0 10px;
    
  }

  .search-container:hover > #search-button{
    background: white;
    color: #2f3640;

  }

  #search-button{
    color: white;
    float: right;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
  }
  #name {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 20px;
    transition: 0.4s;
    line-height: 50px;
    width: 0px;

}
.twinbox{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  
}
.childbox{
  width: 200px;
  height: 200px;
  border: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
}
.box-1{
  background-color: transparent;
}

.box-2{
 background-color: transparent; 
}
.sun{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 5s
}
.sun:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

.thirdbox{
  display: flex;
  height: 200px;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  

}
.insidethirdbox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info{
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}
.number{
  font-size: 2em;
}


@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
 
  @media (max-width: 620px) {
      .box {
          
          height: 600px;
          border-radius: 0;
      }
      body{
        padding: 10px;
      }
}